{{#extends "layouts/main"}}

{{#content "body"}}
  <h2>Profile</h2>
  <p>Email: {{user.email}}</p>
  <p>Username: {{user.username}}</p>

  <h3>Update Profile</h3>
  <form action="/users/{{user.id}}" method="POST">
    <input type="text" name="email" value="{{user.email}}" required>
    <input type="text" name="username" value="{{user.username}}" required>
    <button type="submit">Update Profile</button>
  </form>
{{/content}}
